@import url('https://fonts.googleapis.com/css2?family=Sahitya:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,400;0,700;1,400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Oxygen:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Sahitya:wght@400;700&display=swap');

html {
    scroll-behavior: smooth;
}

/* Sections */

div.blog-home, div.blog-profile {
    font-family: 'Sahitya', serif;
}

div.title-card {
    text-align: center;
    padding: 7rem 0;
}

div.title-card em {
    font-size: 1.5rem;
}

div.featured-box {
    margin-bottom: 5rem;
}

.post-card {
    background: none;
    border: none;
    padding: 0 4rem;
    margin-top: 2rem;
    margin-bottom: 5rem;
    text-align: left;
}

.feature-card {
    color: #aaa;
    width: 100%;
    text-align: left;
    transition: 250ms;
    overflow: visible;
}

.feature-card:hover {
    color: white;
}

.blog-box {
    font-family: 'Raleway', sans-serif;
    margin-top: 2rem;
    margin-bottom: 1.5rem;
}

.blog-about {
    text-align: center;
    margin-top: 7rem;
}

div.description {
    margin-bottom: 5rem;
}

div.blog-profile {
    text-align: center;
    padding-top: 7rem;
}

@media (min-width: 992px) {
    div.blog-profile {
        padding-left: 15rem;
        padding-right: 15rem;
    }
}

@media (min-width: 576px) {
    div.description {
        display: flex;
        flex-wrap: wrap;
    }
}

@media (max-width: 576px) {
    div.description {
        width: 200%;
    }

    div.description p {
        text-align: center;
    }
}

div.comment-box {
    font-family: 'Oxygen', sans-serif;
    margin-bottom: 5rem;
}

div.profile-standout {
    color: white;
    background: #333;
    margin: 5rem 0 5rem;
    padding: 1rem 3rem;
    border-radius: 1rem;
    max-width: 40rem;
}

table td {
    text-align: left;
}

table th {
    text-align: right;
}

/* Headers */

h1 {
    text-transform: uppercase;
}

div.title-card h1, div.blog-profile h1 {
    font-size: 4rem;
    font-weight: normal;
    margin-bottom: 1rem;
}

div.blog-about h1 {
    font-family: 'Sahitya', sans-serif;
    font-size: 4rem;
    margin-bottom: 4rem;
}

h1.blog-title {
    font-weight: bold;
    letter-spacing: 2px;
}

h1.form-title {
    font-family: 'Sahitya', sans-serif;
    font-size: 3rem;
    text-align: center;
    margin-bottom: 3.5rem;
}

h2.section-header {
    text-transform: uppercase;
    font-weight: normal;
    margin-bottom: 2rem;
}

.feature-card h3 {
    font-weight: 700;
    text-transform: uppercase;
    transition: 250ms;
}

div.post-card h3 {
    margin-top: 1.5rem;
}

h3.post-title {
    margin-top: 1rem;
}

h3.comment-section-title {
    font-family: 'Sahitya', serif;
    font-size: 1.75rem;
    margin-top: 1.5rem;
    margin-bottom: 1.5rem;
}

/* Lists */

nav.navigation {
    font-family: 'Raleway', sans-serif;
    font-weight: bold;
    display: flex;
    text-transform: uppercase;
    margin-top: 1rem;
}

nav.navigation ul {
    list-style-type: none;
}

li {
    float: left;
    margin: 1.5rem;
}

li a {
    color: black;
    text-decoration: none;
    transition: 250ms;
}

li a:hover {
    color: gray;
    text-decoration: none;
}

/* Images */

img.feature-image {
    max-width:90%;
    max-height:90%;
    border-radius: 0.5rem;
}

img.post-image {
    width: 100%;
    height: 20rem;
    object-fit: cover;
    border-radius: 0.5rem;
    transition: 500ms;
}

img.post-image:hover {
    -webkit-filter: brightness(50%);
    filter: brightness(50%);
}

.blog-feature-image {
    margin-top: 1rem;
    margin-bottom: 2rem;
    object-fit: cover;
    height: 20rem;
}

/* Miscellaneous */

a.register {
    border-radius: 0.5rem;
    color: white;
    background: black;
    padding: 0.6rem 0.8rem;
    transition: 250ms;
}

a.register:hover {
    color: grey;
}

.feature-card p {
    font-size: 1.1rem;
}

p.blog-subtitle {
    font-size: 1rem;
}

form.add-comment, div.form-group  {
    margin-bottom: 1.5rem;
}

form.auth-form {
    max-width: 40rem;
}

label.form-label {
    font-weight: bold;
    font-size: 1.1rem;
    color: black;
}

span.form-failure {
    display: block;
    color: red;
    margin-top: 0.25rem;
}

button.logout {
    background: none;
    border: none;
    text-transform: uppercase;
    font-weight: bold;
    transition: 250ms;
}

button.logout:hover {
    color: grey;
}

a.inline-link {
    color: black;
    font-weight: bold;
    transition: 250ms;
}

a.inline-link:hover {
    text-decoration: none;
    color: grey;
}